.bg-blue {
  background-color: #395d84;
  height: 100vh;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 12px;
}

@media (max-width: 767.98px) {
  .bg-blue {
    display: none !important;
  }
}
